// Global Reset (Optional)
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height;
  background-color: $background-color;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Links
a {
  text-decoration: none;
  color: $primary-color;
  transition: color 0.3s;

  &:hover {
    color: $secondary-color;
  }
}

// Button Styles
button {
  font-family: $font-family;
  font-size: $font-size-base;
  padding: 10px 20px;
  border: none;
  background-color: $primary-color;
  color: white;
  border-radius: $border-radius;
  cursor: pointer;
  @include transition(background-color, 0.3s);

  &:hover {
    background-color: $secondary-color;
  }
}
