.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .button .spinnerContainer {
    position: fixed;
    background-color: rgba(24, 24, 24, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform: translateX(50%), translateY(50%);
    .spinner {
      border: 10px solid rgba(255, 255, 255, 0.3);
      border-top: 10px solid #3498db;
    }
  }