
.sidebar {
  @include flex(column, flex-start, center);
  height: 100% !important;
  @include theme(dark);
  overflow: hidden !important;
  z-index: 100;
  width: 19rem;
  h3{
    
    margin: 0;
    padding: 0;
    margin-top: 30px;
   a{
    color: $white;
    
    &:hover{
      color: $gray;
      cursor: pointer;
      color: $gray-light;
      
    }
   
   }
  }
  .fixed-menu {
    @include flex-column-center;
    right: 100%;
    min-width: 250px;
    gap: 20px;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    a{
    
    }
    
  }
}

.sidebar ul {
  
  @include flex-column-center;
  list-style: none;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  min-width: 100% !important;
  padding: 0;
  
  gap: 20px;
}

.sidebar a {
  padding-right: 30px;
  @include flex-space-between;
  color: $white;
  text-decoration: none;
  text-align: left;
  min-width: 100%;
  box-sizing: border-box !important;
  transition: background-color 0.3s ease-in-out;
  height: 50px;
  padding-left: 30px;
  svg{
   width: fit-content;
  }
  &.active {
    background: rgba(255, 255, 255, 0.1); 
    font-weight: bold;
    border-left: 5px solid $white;
    svg{
      margin-left: -5px;
     }
  }
 
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
  }


}

.sidebar a.active {
  background: rgba(255, 255, 255, 0.1); 
  font-weight: bold;
  border-left: 5px solid $white; 
}

footer {
  @include flex-column-center;
  margin-top: auto;
  text-align: center;
  margin-bottom: 3rem;
  width: 100%; 
  p {
    margin: 0;
  }
  a {
    text-align: center;
    padding: 20px;
    margin: 0 0 10px 0;
    width: 100%; 
    display: block; // Make the link fill the container
    color: $white;
    text-decoration: none;
    &:last-child{
      margin-bottom: 30px;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.2);
    }
  } 
}

