@import 'variables', 'mixins';

// 🖤 Default Button
.button {
  padding: $spacing-small $spacing-medium;
  border-radius: $border-radius;
  font-size: $font-size-base;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  min-height: 3rem;
  padding: 0 4rem 0 4rem;
  width: 100%;

  &:active {
    transform: scale(0.99); // Slight press effect
    transition: transform 0.1s ease-in-out; }
  &:focus {
    border: none;
    outline: none;
  }
}
button:disabled {
  background-color: $gray;
  color: $gray-light;

  &:hover {
    cursor: not-allowed; 
    background-color: $gray-light;
    color: $white;
  }
}

// ✅ Positive (Green)
.button-positive {
  @extend .button;
  background-color: $green;
  color: $white;

  &:hover {
    background-color: $green-dark;
  }
}

// ❌ Negative (Red)
.button-negative {
  @extend .button;
  background-color: $red;
  color: $white;

  &:hover {
    background-color: $red-dark;
  }
}

// ⚪ Neutral (Gray)
.button-neutral {
  @extend .button;
  background-color: $gray-dark;
  color: $white;

  &:hover {
    background-color: $gray;
  }
}

.button-utils {
  @extend .button;
  padding: 5px 5px;
  min-height: 0;
  width: 130px;
}

.button-dropdown {
  @extend .button;
  border: none;
  outline: none;

  &:focus {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  }
}

.select-container {
  position: relative;
  display: inline-block;

  select {
    width: 100%;
    padding: 12px;
    padding-right: 40px; // Space for the arrow
    font-size: 16px;
    border-radius: 8px;
    background-color: ¤white;
    appearance: none;
    cursor: pointer;
    font-weight: bold;

    &:focus {
      outline: none;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    }
  }

  // Custom arrow positioning
  &::after {
    content: "▼";
    font-size: 14px;
    color: #333;
    position: absolute;
    border: none;
    outline:none;
    right: 15px; // Adjust this to move it more left
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

// Style the Admin option with a crown
select option[value="Admin"] {
  font-weight: bold;
  content: "👑 Admin";
}
